<a href="https://colab.research.google.com/github/EstellaMei/CrimePredictionAndPrevention/blob/main/Clean_and_Aggregate_Crime_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('Crime_Data_from_2020_to_Present_with_zip.csv')
# Print the DataFrame
df.head()

# Drop the column
df.drop('DR_NO', axis=1, inplace=True)
df.drop('DATE OCC', axis=1, inplace=True)
df.drop('TIME OCC', axis=1, inplace=True)
df.drop('Rpt Dist No', axis=1, inplace=True)
df.drop('Part 1-2', axis=1, inplace=True)
df.drop('Mocodes', axis=1, inplace=True)
df.drop('Vict Age', axis=1, inplace=True)
df.drop('Vict Descent', axis=1, inplace=True)
df.drop('Crm Cd 1', axis=1, inplace=True)
df.drop('Crm Cd 2', axis=1, inplace=True)
df.drop('Crm Cd 3', axis=1, inplace=True)
df.drop('Crm Cd 4', axis=1, inplace=True)
df.drop('LOCATION', axis=1, inplace=True)
df.drop('Cross Street', axis=1, inplace=True)
df.drop('LAT', axis=1, inplace=True)
df.drop('LON', axis=1, inplace=True)
df.drop('geometry', axis=1, inplace=True)
df.drop('index_right', axis=1, inplace=True)
df.drop('OBJECTID', axis=1, inplace=True)
df.drop('PO_NAME', axis=1, inplace=True)
df.drop('STATE', axis=1, inplace=True)
df.drop('Shape__Are', axis=1, inplace=True)
df.drop('Shape__Len', axis=1, inplace=True)
df.head()

,Date Rptd,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Sex,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,ZIP_CODE,POPULATION,POP_SQMI,SQMI
0,1/8/20 0:00,3,Southwest,624,BATTERY - SIMPLE ASSAULT,F,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,90037.0,64170.0,23334.55,2.75
1,1/2/20 0:00,1,Central,624,BATTERY - SIMPLE ASSAULT,M,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,90014.0,10365.0,37017.86,0.28
2,4/14/20 0:00,1,Central,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,X,726.0,POLICE FACILITY,NaN,NaN,AA,Adult Arrest,90013.0,14779.0,21418.84,0.69
3,1/1/20 0:00,15,N Hollywood,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),F,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,91607.0,30488.0,11771.43,2.59
4,1/1/20 0:00,19,Mission,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",X,409.0,BEAUTY SUPPLY STORE,NaN,NaN,IC,Invest Cont,91402.0,71433.0,18798.16,3.80

In [ ]:
import pandas as pd

# Create a dictionary to map CRM_CD to CATEGORY
crm_category_map = {
    110: 'Violent Crimes',
    113: 'Violent Crimes',
    121: 'Sex Crimes',
    122: 'Sex Crimes',
    210: 'Violent Crimes',
    220: 'Violent Crimes',
    230: 'Violent Crimes',
    231: 'Violent Crimes',
    235: 'Violent Crimes',
    236: 'Violent Crimes',
    237: 'Violent Crimes',
    250: 'Violent Crimes',
    251: 'Violent Crimes',
    310: 'Property Crimes',
    320: 'Property Crimes',
    330: 'Property Crimes',
    331: 'Theft Crimes',
    341: 'Theft Crimes',
    343: 'Theft Crimes',
    345: 'Theft Crimes',
    347: 'Theft Crimes',
    349: 'Theft Crimes',
    350: 'Theft Crimes',
    351: 'Theft Crimes',
    352: 'Theft Crimes',
    353: 'Theft Crimes',
    354: 'Fraud and Forgery Crimes',
    410: 'Property Crimes',
    420: 'Theft Crimes',
    421: 'Theft Crimes',
    432: 'Other Crimes',
    433: 'Theft Crimes',
    434: 'Other Crimes',
    435: 'Violent Crimes',
    436: 'Violent Crimes',
    437: 'Other Crimes',
    438: 'Other Crimes',
    439: 'Other Crimes',
    440: 'Theft Crimes',
    441: 'Theft Crimes',
    442: 'Theft Crimes',
    443: 'Theft Crimes',
    444: 'Theft Crimes',
    445: 'Theft Crimes',
    446: 'Theft Crimes',
    450: 'Theft Crimes',
    451: 'Theft Crimes',
    452: 'Theft Crimes',
    470: 'Theft Crimes',
    471: 'Theft Crimes',
    473: 'Theft Crimes',
    474: 'Theft Crimes',
    475: 'Theft Crimes',
    480: 'Theft Crimes',
    485: 'Theft Crimes',
    510: 'Theft Crimes',
    520: 'Theft Crimes',
    522: 'Theft Crimes',
    622: 'Violent Crimes',
    623: 'Violent Crimes',
    624: 'Violent Crimes',
    625: 'Violent Crimes',
    626: 'Violent Crimes',
    627: 'Violent Crimes',
    647: 'Property Crimes',
    648: 'Property Crimes',
    649: 'Fraud and Forgery Crimes',
    651: 'Fraud and Forgery Crimes',
    652: 'Fraud and Forgery Crimes',
    653: 'Fraud and Forgery Crimes',
    654: 'Fraud and Forgery Crimes',
    660: 'Fraud and Forgery Crimes',
    661: 'Fraud and Forgery Crimes',
    662: 'Fraud and Forgery Crimes',
    664: 'Fraud and Forgery Crimes',
    666: 'Fraud and Forgery Crimes',
    668: 'Fraud and Forgery Crimes',
    670: 'Fraud and Forgery Crimes',
    740: 'Property Crimes',
    745: 'Property Crimes',
    753: 'Weapons Crimes',
    755: 'Other Crimes',
    756: 'Weapons Crimes',
    760: 'Sex Crimes',
    761: 'Weapons Crimes',
    762: 'Sex Crimes',
    763: 'Other Crimes',
    805: 'Sex Crimes',
    806: 'Sex Crimes',
    810: 'Sex Crimes',
    812: 'Violent Crimes',
    813: 'Violent Crimes',
    814: 'Sex Crimes',
    815: 'Sex Crimes',
    820: 'Sex Crimes',
    821: 'Sex Crimes',
    822: 'Sex Crimes',
    830: 'Sex Crimes',
    840: 'Sex Crimes',
    845: 'Sex Crimes',
    850: 'Sex Crimes',
    860: 'Sex Crimes',
    865: 'Drug and Alcohol Crimes',
    870: 'Other Crimes',
    880: 'Other Crimes',
    882: 'Other Crimes',
    884: 'Other Crimes',
    886: 'Other Crimes',
    888: 'Other Crimes',
    890: 'Other Crimes',
    900: 'Other Crimes',
    901: 'Other Crimes',
    902: 'Other Crimes',
    903: 'Other Crimes',
    904: 'Weapons Crimes',
    906: 'Weapons Crimes',
    910: 'Violent Crimes',
    920: 'Violent Crimes',
    921: 'Sex Crimes',
    922: 'Violent Crimes',
    924: 'Property Crimes',
    928: 'Other Crimes',
    930: 'Violent Crimes',
    931: 'Weapons Crimes',
    932: 'Property Crimes',
    933: 'Property Crimes',
    940: 'Fraud and Forgery Crimes',
    942: 'Fraud and Forgery Crimes',
    943: 'Other Crimes',
    944: 'Other Crimes',
    946: 'Other Crimes',
    948: 'Other Crimes',
    949: 'Other Crimes',
    950: 'Theft Crimes',
    951: 'Theft Crimes',
    954: 'Other Crimes',
    956: 'Sex Crimes'
}

# Create a new column "CATEGORY" in df using the mapping
df['CATEGORY'] = df['Crm Cd'].map(crm_category_map)
df.drop('Crm Cd', axis=1, inplace=True)
df.drop('Crm Cd Desc', axis=1, inplace=True)
df.head()

,Date Rptd,AREA,AREA NAME,Vict Sex,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,ZIP_CODE,POPULATION,POP_SQMI,SQMI,CATEGORY
0,1/8/20 0:00,3,Southwest,F,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,90037.0,64170.0,23334.55,2.75,Violent Crimes
1,1/2/20 0:00,1,Central,M,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,90014.0,10365.0,37017.86,0.28,Violent Crimes
2,4/14/20 0:00,1,Central,X,726.0,POLICE FACILITY,NaN,NaN,AA,Adult Arrest,90013.0,14779.0,21418.84,0.69,Sex Crimes
3,1/1/20 0:00,15,N Hollywood,F,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,91607.0,30488.0,11771.43,2.59,Property Crimes
4,1/1/20 0:00,19,Mission,X,409.0,BEAUTY SUPPLY STORE,NaN,NaN,IC,Invest Cont,91402.0,71433.0,18798.16,3.80,Property Crimes

In [ ]:
# read the data into a pandas dataframe
dfagg = df

# convert Date Rptd column to datetime format and extract Month and Year columns
dfagg['Date Rptd'] = pd.to_datetime(dfagg['Date Rptd'])
dfagg['Month'] = dfagg['Date Rptd'].dt.month
dfagg['Year'] = dfagg['Date Rptd'].dt.year

# Group by Month, Year, AREA, AREA NAME, Vict Sex, Crime cd, Crime cd desc, ZipCode,
# population, POP_SQMI, SQMI and get the counts of crimes
counts = dfagg.groupby(['Month',
                     'Year',
                     'AREA',
                     'AREA NAME',
                     'Vict Sex',
                     'CATEGORY',
                     'ZIP_CODE',
                     'POPULATION',
                     'POP_SQMI',
                     'SQMI']).agg({'Date Rptd': 'count'})

# Rename the Date Rptd column to Crime Count
counts = counts.rename(columns={'Date Rptd': 'Crime Count'})

# Reset the index to get the columns back
counts = counts.reset_index()

counts.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,Crime Count
0,1,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,2
1,1,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,2
2,1,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,2
3,1,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,1
4,1,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,1

In [ ]:
counts.to_csv('Crime_Data_2020_to_Present_AGG.csv', index=False)

In [ ]:
parksDF = pd.read_csv('Clean_Data_To_Join/PARK_FINAL_CLEANED.csv')
# pivot the dataframe to get park types as columns
parksDF = parksDF.pivot_table(index='Zip', columns='Park Type', values='Count', fill_value=0)

# reset the index to get Zip as a column
parksDF = parksDF.reset_index()
parksDF = parksDF.rename(columns={'Zip': 'ZIP_CODE'})
parksDF.head()

Park Type,ZIP_CODE,Beaches,Camps,Dog Parks,Equestrian Centers,Free Wi-Fi Hot Spots,Gardens,Golf Courses,Hiking Trails,Lakes,...,Public Computer Centers,Recreation Centers,Rental Facilities,Senior Centers,Skate Parks,Swimming Pools - Summer,Swimming Pools - Year Round,Tennis Courts,Theatre,Universally Accessible Playgrounds
0,90002,0,0,0,0,0,1,0,0,0,...,2,2,0,1,0,0,0,0,0,0
1,90003,0,0,0,0,0,0,0,0,0,...,1,2,0,1,0,1,1,1,0,0
2,90004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,90006,0,0,0,0,0,0,0,0,0,...,1,2,0,0,0,0,0,0,0,0
4,90007,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [ ]:
crimeDF = counts.merge(parksDF, on='ZIP_CODE', how='left').fillna(0)
crimeDF.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,...,Public Computer Centers,Recreation Centers,Rental Facilities,Senior Centers,Skate Parks,Swimming Pools - Summer,Swimming Pools - Year Round,Tennis Courts,Theatre,Universally Accessible Playgrounds
0,1,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
schoolsDF = pd.read_csv('Clean_Data_To_Join/LA_SCHOOLS_CLEANED_FINAL.csv')
# pivot the dataframe to get park types as columns
schoolsDF = schoolsDF.pivot_table(index='Zip Code', columns='School type', values='COUNT of Zip Code', fill_value=0)

# reset the index to get Zip as a column
schoolsDF = schoolsDF.reset_index()
schoolsDF = schoolsDF.rename(columns={'Zip Code': 'ZIP_CODE'})
schoolsDF.head()

School type,ZIP_CODE,ADULT SCHOOL,ELEMENTARY SCHOOL,HIGH SCHOOL,MIDDLE SCHOOL,PRESCHOOL
0,90001,0,14,6,5,5
1,90002,0,11,3,4,3
2,90003,0,22,6,5,5
3,90004,0,20,2,3,2
4,90005,0,10,4,3,2

In [ ]:
crimeDF = crimeDF.merge(schoolsDF, on='ZIP_CODE', how='left').fillna(0)
crimeDF.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,...,Swimming Pools - Summer,Swimming Pools - Year Round,Tennis Courts,Theatre,Universally Accessible Playgrounds,ADULT SCHOOL,ELEMENTARY SCHOOL,HIGH SCHOOL,MIDDLE SCHOOL,PRESCHOOL
0,1,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,...,0.0,0.0,1.0,0.0,0.0,1.0,3.0,1.0,1.0,1.0
1,1,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,...,0.0,0.0,0.0,0.0,0.0,1.0,4.0,2.0,1.0,5.0
3,1,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,...,1.0,0.0,0.0,0.0,0.0,1.0,5.0,5.0,1.0,1.0
4,1,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,1.0,0.0

In [ ]:
from datetime import datetime

activeBusDF = pd.read_csv('Clean_Data_To_Join/Listing_of_Active_Businesses_Clean_Counts.csv')
activeBusDF.drop('NAICS_2', axis=1, inplace=True)
# convert 'Year' column to datetime and format as YYYY
activeBusDF['Year'] = pd.to_datetime(activeBusDF['Year'], format='%Y').dt.strftime('%Y')
activeBusDF['Month'] = pd.to_datetime(activeBusDF['Month'], format='%m').dt.strftime('%m')
# filter for Year 2020 and above
activeBusDF = activeBusDF[activeBusDF['Year'].astype(int) >= 2020]

# pivot the dataframe to get park types as columns
#activeBusDF = activeBusDF.pivot_table(index='ZIPCODE', columns='NAICS_2', values='Count', fill_value=0)
activeBusDF = activeBusDF.pivot_table(index=['ZIPCODE', 'Month', 'Year'], columns='Industry', values='Count', aggfunc='sum', fill_value=0)

# reset the index to get Zip as a column
activeBusDF = activeBusDF.reset_index()
activeBusDF = activeBusDF.rename(columns={'ZIPCODE': 'ZIP_CODE'})

activeBusDF.head()

Industry,ZIP_CODE,Month,Year,Accommodation and Food Services,Administrative and Support and Waste Management and Remediation Services,"Agriculture, Forestry, Fishing and Hunting","Arts, Entertainment, and Recreation",Construction,Educational Services,Finance and Insurance,...,Information,Manufacturing,"Mining, Quarrying, and Oil and Gas Extraction",Other Services (except Public Administration),"Professional, Scientific, and Technical Services",Real Estate and Rental and Leasing,Retail Trade,Transportation and Warehousing,Unclassified,Wholesale Trade
0,90001,01,2020,0,4,0,0,2,0,0,...,0,1,0,9,1,2,14,2,6,1
1,90001,01,2021,1,3,0,0,0,1,0,...,0,3,0,6,0,0,10,0,9,1
2,90001,01,2022,1,2,0,0,2,0,0,...,0,2,0,1,2,58,1,1,9,1
3,90001,01,2023,2,0,0,0,2,0,1,...,0,1,0,3,1,1,1,0,0,1
4,90001,01,2050,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
crimeDF['Year'] = pd.to_datetime(crimeDF['Year'], format='%Y').dt.strftime('%Y')
crimeDF['Month'] = pd.to_datetime(crimeDF['Month'], format='%m').dt.strftime('%m')
crimeDF.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,...,Swimming Pools - Summer,Swimming Pools - Year Round,Tennis Courts,Theatre,Universally Accessible Playgrounds,ADULT SCHOOL,ELEMENTARY SCHOOL,HIGH SCHOOL,MIDDLE SCHOOL,PRESCHOOL
0,01,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,...,0.0,0.0,1.0,0.0,0.0,1.0,3.0,1.0,1.0,1.0
1,01,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,...,0.0,0.0,0.0,0.0,0.0,1.0,4.0,2.0,1.0,5.0
3,01,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,...,1.0,0.0,0.0,0.0,0.0,1.0,5.0,5.0,1.0,1.0
4,01,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,1.0,0.0

In [ ]:
crimeDF_Bus = pd.merge(crimeDF, activeBusDF, on=['ZIP_CODE', 'Month', 'Year'], how='left').fillna(0)
crimeDF_Bus.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,...,Information,Manufacturing,"Mining, Quarrying, and Oil and Gas Extraction",Other Services (except Public Administration),"Professional, Scientific, and Technical Services",Real Estate and Rental and Leasing,Retail Trade,Transportation and Warehousing,Unclassified,Wholesale Trade
0,01,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,...,1.0,2.0,0.0,10.0,10.0,4.0,5.0,0.0,10.0,1.0
1,01,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,...,0.0,4.0,0.0,3.0,13.0,13.0,9.0,2.0,12.0,7.0
2,01,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,...,1.0,16.0,0.0,10.0,10.0,13.0,21.0,0.0,18.0,18.0
3,01,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,...,3.0,5.0,0.0,7.0,7.0,4.0,11.0,1.0,11.0,2.0
4,01,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,...,2.0,12.0,0.0,9.0,2.0,9.0,7.0,1.0,12.0,18.0

In [ ]:
PopulationWithGenderDF = pd.read_csv('Clean_Data_To_Join/Population_With_Gender.csv')
PopulationWithGenderDF = PopulationWithGenderDF.rename(columns={'Zip Code': 'ZIP_CODE'})
crimeDF_Bus_Pop = pd.merge(crimeDF_Bus, PopulationWithGenderDF, on=['ZIP_CODE'], how='left').fillna(0)
crimeDF_Bus_Pop.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,...,2023 Females,2022,2022 Males,2022 Females,2021,2021 Males,2021 Females,2020,2020 Males,2020 Females
0,01,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,...,"19,140","37,391","18,322","19,069","37,305","18,279","19,026","37,268","18,261","19,007"
1,01,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,...,"6,681","13,052","6,395","6,657","13,022","6,381","6,641","13,009","6,374","6,635"
2,01,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,...,"12,275","23,979","11,750","12,229","23,924","11,723","12,201","23,900","11,711","12,189"
3,01,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,...,"14,294","27,924","13,683","14,241","27,860","13,651","14,209","27,832","13,638","14,194"
4,01,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,...,"1,687","3,296","1,615","1,681","3,288","1,611","1,677","3,285","1,610","1,675"

In [ ]:
medianIncomeDF = pd.read_csv('Clean_Data_To_Join/Median_Household_Income_With_ZipCode.csv')
medianIncomeDF = medianIncomeDF.rename(columns={'Zip Code': 'ZIP_CODE'})
medianIncomeDF.drop('Community', axis=1, inplace=True)
crimeDF_Bus_Pop_Inc = pd.merge(crimeDF_Bus_Pop, medianIncomeDF, on=['ZIP_CODE'], how='left').fillna(0)
crimeDF_Bus_Pop_Inc.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,...,2022,2022 Males,2022 Females,2021,2021 Males,2021 Females,2020,2020 Males,2020 Females,Estimated Median Income
0,01,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,...,"37,391","18,322","19,069","37,305","18,279","19,026","37,268","18,261","19,007","$53,278"
1,01,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,...,"13,052","6,395","6,657","13,022","6,381","6,641","13,009","6,374","6,635","$22,291"
2,01,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,...,"23,979","11,750","12,229","23,924","11,723","12,201","23,900","11,711","12,189","$53,062"
3,01,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,...,"27,924","13,683","14,241","27,860","13,651","14,209","27,832","13,638","14,194","$44,607"
4,01,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,...,"3,296","1,615","1,681","3,288","1,611","1,677","3,285","1,610","1,675","$25,364"

In [ ]:
nonProfitDF = pd.read_csv('Clean_Data_To_Join/Non_Profit_Locs.csv')
nonProfitDF = nonProfitDF.rename(columns={'ZIP CODE': 'ZIP_CODE'})

crimeDF_Bus_Pop_Inc_nonprofit = pd.merge(crimeDF_Bus_Pop_Inc, nonProfitDF, on=['ZIP_CODE'], how='left').fillna(0)
crimeDF_Bus_Pop_Inc_nonprofit.head()

,Month,Year,AREA,AREA NAME,Vict Sex,CATEGORY,ZIP_CODE,POPULATION,POP_SQMI,SQMI,...,2022 Males,2022 Females,2021,2021 Males,2021 Females,2020,2020 Males,2020 Females,Estimated Median Income,COUNT OF NON PROFIT SERVICE LOCATIONS
0,01,2020,1,Central,F,Fraud and Forgery Crimes,90012.0,39271.0,10671.47,3.68,...,"18,322","19,069","37,305","18,279","19,026","37,268","18,261","19,007","$53,278",0.0
1,01,2020,1,Central,F,Fraud and Forgery Crimes,90013.0,14779.0,21418.84,0.69,...,"6,395","6,657","13,022","6,381","6,641","13,009","6,374","6,635","$22,291",0.0
2,01,2020,1,Central,F,Fraud and Forgery Crimes,90015.0,28446.0,17033.53,1.67,...,"11,750","12,229","23,924","11,723","12,201","23,900","11,711","12,189","$53,062",0.0
3,01,2020,1,Central,F,Fraud and Forgery Crimes,90017.0,32690.0,45402.78,0.72,...,"13,683","14,241","27,860","13,651","14,209","27,832","13,638","14,194","$44,607",2.0
4,01,2020,1,Central,F,Fraud and Forgery Crimes,90021.0,3123.0,1546.04,2.02,...,"1,615","1,681","3,288","1,611","1,677","3,285","1,610","1,675","$25,364",0.0

In [ ]:
crimeDF_Bus_Pop_Inc.to_csv('Crime_Data_2020_to_Present_FINAL.csv', index=False)

In [ ]:
#distinct_crime_df = crimeDF_Bus_Pop_Inc[['Crm Cd', 'Crm Cd Desc']].drop_duplicates()

KeyError: "None of [Index(['Crm Cd', 'Crm Cd Desc'], dtype='object')] are in the [columns]"